<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- Title of the web page -->
        <title>Search Team</title>

        <!-- Let's add a bit of styling to make it look pretty -->
        <link rel="stylesheet" href="/static/style.css">

    </head>

    {# This is what a jinja tempalte comment looks like #}
    <!-- This is what an HTML comment looks like -->

    <body>
        <div class="content">
            <!-- TODO A form for asking the question -->
            <!-- send data to route '/player' -->
            <form action="/team" method = "get">
                <label>
                    <b>Search for player</b>
                    <input type ="text" name ="team">
                </label>
                <button type = "submit">Send</button>
            </form>
            <!-- display the answers from instant answers api -->
            <p class="response">
                {% if (search and results1) %}
                    <b>{{ search }}</b>
                    <br> <!-- <br> creates a line break -->
                    <table style="width:100%">
                        <caption>Offence Stats</caption>
                        <tr>
                            <th>Team</th>
                            <th>FGA</th>
                            <th>FGM</th>
                            <th>FG%</th>
                            <th>FTA</th>
                            <th>FTM</th>
                            <th>FT%</th>
                            <th>3PA</th>
                            <th>3PM</th>
                            <th>3PT%</th>
                            <th>Off</th>
                            <th>Def</th>
                            <th>Reb</th>
                            <th>Ast</th>
                            <th>TO</th>
                            <th>Stl</th>
                            <th>BLK</th>
                            <th>PF</th>
                            <th>Pts</th>
                        </tr>
                        <tbody>
                            {% for item in results1 %}
                                <tr>
                                    {% for value in item.values() %}
                                        <td>{{value}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if respones.get('offence_plot') %}
                        <p><img src="data:image/png;base64,{{ respones.get('offence_plot') }}" width="800"></p>
                    {% endif %}
                    <br>
                    <table style="width:100%">
                        <caption>Defence Stats</caption>
                        <tr>
                            <th>Team</th>
                            <th>FGA</th>
                            <th>FGM</th>
                            <th>FG%</th>
                            <th>FTA</th>
                            <th>FTM</th>
                            <th>FT%</th>
                            <th>3PA</th>
                            <th>3PM</th>
                            <th>3PT%</th>
                            <th>Off</th>
                            <th>Def</th>
                            <th>Reb</th>
                            <th>Ast</th>
                            <th>TO</th>
                            <th>Stl</th>
                            <th>BLK</th>
                            <th>PF</th>
                            <th>Pts</th>
                        </tr>
                        <tbody>
                            {% for item in results2 %}
                                <tr>
                                    {% for value in item.values() %}
                                        <td>{{value}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if respones.get('defence_plot') %}
                        <p><img src="data:image/png;base64,{{ respones.get('defence_plot') }}" width="800"></p>
                    {% endif %}
                    <!-- TODO optional: also display RelatedTopics  -->
                {% elif (search) %}
                    <b>{{ question }}</b><br>
                    I don't know :(
                {% endif %}
            </p>
        </div>
    </body>
</html>
